// mixin with if statement

@mixin heading($size) {
    @if $size == large {
      font-size: 4rem;
    }
    @else if $size == medium{
      font-size: 3rem;
    }
    @else if $size == small {
      font-size: 2rem;
    }
    @else {
      font-size: 1rem;
    }
  }
  
  h1 {
    @include heading(large);
  }
  
  h6 {
    @include heading(small);
  }

// for loop

$margin-values: 1 2 3 4 5;

@for $i from 1 through 5 {
  .m-#{$i} {
    margin: #{$i * 0.25}rem; 
  }

  .my-#{$i} {
    margin-top: #{$i * 0.25}rem;
    margin-bottom: #{$i * 0.25}rem;
  }
}

//

@function px-to-rem($pixels) {
  @return ($pixels / 16) + rem; 
}

h1 {
  font-size: px-to-rem(32);
}

@function width-columns($columns, $gap) {
  @return calc((100% - (#{$gap} * (#{$columns} - 1))) / #{$columns});
}

div.my-div {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 2rem auto;
}


div.my-div .column {
  height: 100px;
  float: left;
  width: width-columns(3, 10px);

  @media screen and (max-width: 640px) {
    width: 100%;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

@for $i from 1 through 3 {
  .column-#{$i} {
    $percentage: $i * 10%;
    background-color: darken($color-primary, $percentage);
  }
}