h1 {
  font-size: 4rem; }

h6 {
  font-size: 2rem; }

.m-1 {
  margin: 0.25rem; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-2 {
  margin: 0.5rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-3 {
  margin: 0.75rem; }

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-4 {
  margin: 1rem; }

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-5 {
  margin: 1.25rem; }

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

h1 {
  font-size: 2rem; }

div.my-div {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 2rem auto; }

div.my-div .column {
  height: 100px;
  float: left;
  width: calc((100% - (10px * (3 - 1))) / 3); }
  @media screen and (max-width: 640px) {
    div.my-div .column {
      width: 100%; } }
  div.my-div .column:not(:last-child) {
    margin-right: 10px; }

.column-1 {
  background-color: #cccc00; }

.column-2 {
  background-color: #999900; }

.column-3 {
  background-color: #666600; }

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  background-color: darkgreen;
  margin-bottom: 2rem; }
  @media screen and (max-width: 640px) {
    nav {
      height: 100%; } }
  nav ul {
    list-style: none;
    display: flex; }
    @media screen and (max-width: 640px) {
      nav ul {
        display: block; } }
  nav li {
    margin-right: 2.5rem; }
    nav li:hover {
      color: white; }
    @media screen and (max-width: 640px) {
      nav li {
        font-size: 1.5rem; } }
    nav li a {
      text-decoration: none;
      color: #ffff00; }
      nav li a:hover {
        color: #cccc00; }

.button, .button-secondary {
  background-color: #0000FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer; }
  @media screen and (max-width: 640px) {
    .button, .button-secondary {
      display: block;
      margin-bottom: .25rem; } }

.button-secondary {
  background-color: #4CAF50; }

body {
  height: 100%; }

body {
  background-color: #ffff00; }
